.darkMode {
  background-color: black;
  color: white;
}

aside {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

aside button {
  width: 30px;
  height: 25px;
  border-radius: 14px;
  border: none;
}

aside button:first-child:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

article {
  position: relative;
  width: 90%;
  height: 60px;
  margin: 40px auto;
}

input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 0 3px #a445ed;
  color: black;
}

article input {
  width: 100%;
  height: 50px;
  outline: none;
  padding-inline: 30px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 0 3px #9145ca;
  transition: 0.3s;
}

article input:focus {
  box-shadow: 0 0 10px #e8d0fa;
}

article i {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 22px;
  color: #a445ed;
}

main {
  border-bottom: 1px solid grey;
}

.word {
  display: flex;
  justify-content: space-between;
}

.word button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e8d0fa;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.word button i {
  color: #a445ed;
  font-size: 30px;
  transition: 0.8s;
}

.word button:hover {
  box-shadow: inset 0 0 20px 10px #a445ed, 0 0 2px 4px #e8d0fa;
}

.word button:hover i {
  font-size: 30px;
  transform: translate(5px);
}

.texts h1 {
  font-family: "Bonheur Royale", cursive;
  font-size: 65px;
  letter-spacing: 2px;
  text-shadow: 0 0 3px red;
}
.texts h5 {
  font-family: "Dancing Script", cursive;
  text-shadow: 0 0 3px blue;
  font-size: 23px;
}

section {
  margin-bottom: 20px;
}

section h1 {
  font-size: 35px;
  position: relative;
  margin: 10px auto;
  font-family: "Dancing Script", cursive;
  text-shadow: 0 0 3px red;
}

section h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 50%;
  z-index: -1;
}

section h1 span {
  padding-right: 10px;
  font-family: "Loved by the King", cursive;
  position: relative;
  z-index: 2;
}

section ul {
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section ul li {
  font-family: "Fondamento", cursive;
}

section ul li:hover {
  color: #9145ca;
}

li::marker {
  color: #8f19e8;
}

section h3 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-family: "Loved by the King", cursive;
  letter-spacing: 1px;
  text-shadow: 0 0 3px grey;
}

section h3 span {
  color: #8f19e8;
}

footer {
  margin-top: 20px;
}

footer h6 {
  font-size: 15px;
  font-family: "Fondamento", cursive;
}
